#image{
    background-image: url("https://media.istockphoto.com/id/1198580084/photo/empty-studio-room-for-shoot.jpg?s=612x612&w=0&k=20&c=enbrC2C6A-QBhJC88KtqphFZG9fZMIVe6oiWl4jyF7Q=");
    background-repeat: no-repeat;
    background-size: cover;
}